/*
It makes styling on page.
*/


body { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 10px; 
}

/*
It makes styling with id.
*/


#grid {
  display: grid;
  gap: 5px;
  padding: 5px;
  background-color: #ffffff;
  justify-items: center; 
  align-items: center; 
}


#timer-circle {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f8d6d6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#timer-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#score-heading {
  font-size: 30px;
  text-align: center;
}

#score-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#restart-button {
  margin-top: 20px;
}

/*
It makes styling with class.
*/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #494848;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
}

/*
It designs images with class card.
*/

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
