/*
It makes styling for "Memory Card Game" writing
*/

#memory-card-heading {
  font-size: 40px;
  font-weight: bold;
  font-family: cursive;
  color:#fff;
}

/*
It makes styling for "Find the right paw to match the cats!" writing
*/

#instructions {
  font-size: 20px;
  font-family: cursive;
  color:#a09e9e
}

/*
It makes styling on page which is body element of HTML fale.
*/

body { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000cc;
  padding: 10px; 
}

/*
It makes styling with id "grid".
*/

#grid {
  display: grid;
  gap: 5px;
  padding: 5px;
  justify-items: center; 
  align-items: center; 
  width: 100%;
  height: 100%;
}

/*
It makes styling with class "card".
*/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #494848;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  /*
  It makes animation about opacity
  */
  animation: rotateCard 0.5s;  
  animation-fill-mode: forwards;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  opacity: 0;
  animation: dealCard 3s forwards;
}

/* 
It makes styling to cards with the class "matched"
*/

.card.matched {
  animation: fadeOut 0.5s forwards;
}

/*
It designs images with class card.
*/

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* It makes styling to cards with the class "flipped". 
It rotates the card by 180 degrees. 
*/

.card.flipped {
  transform: rotateY(180deg);
  pointer-events: none;
}

/*
It makes animation with opacity and scale.
*/

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes dealCard {
  to {
    opacity: 1;
  }
}


/*
It makes container which shows score and time.
*/

#score-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

/*
They make styling for timer,score and restart button.
*/

#timer-number {
  margin-right:50px;
  font-size: 20px;
  font-family: cursive;
  margin-right: 10px;
  color:#dfdfdf
}

#score-number {
 margin-left:50px;
 font-size: 20px;
 font-family: cursive;
 color:#dfdfdf
}

#restart-button {
  margin-top:20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  padding: 0; 
  overflow: hidden; 
  border: none;
  background: none; 
}

/*
It arranges image for restart button.
*/

#restart-button img {
  width: 100%; 
  height: 100%; 
  display: block; 
  object-fit: cover; 
}

/*
It makes styling to an element with the id "win-screen" which represents a screen displayed when the game is won.
*/

#win-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


#win-screen.hidden {
  display: none;
}

/*
It makes styling for "Congratulations!" writing
*/

#win-screen h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  font-family: cursive;
  font-family: cursive;
}

/*
It makes styling for writing on win screen: score amd time.
*/

#win-screen p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  font-family: cursive;
}

/*
It makes styling for play again button.
*/

#play-again-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #d48383;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
}
